<html>
    <head>
        <title>My First Template</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='styles/styles.css')}}">
        <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
    </head>
    <body>
        <div class="container-fluid mx-0 px-0">
            <h1 class="bg-primary col-12 text-center pb-0 mb-0">
                Dailies
            </h1>
            <table class="table-border col-12 text-center" >
                <thead>
                    <tr style="height: 40px">
                        <th class="table-border bg-dark text-white text-center">Week</th>
                        <th class="table-border mondayColumn">Monday</th>
                        <th class="table-border tuesdayColumn">Tuesday</th>
                        <th class="table-border wednesdayColumn">Wednesday</th>
                        <th class="table-border thursdayColumn">Thursday</th>
                        <th class="table-border fridayColumn">Friday</th>
                        <th class="table-border saturdayColumn">Saturday</th>
                        <th class="table-border sundayColumn">Sunday</th>
                        <th class="table-border btn-primary text-white" onclick="displayModal('DailiesForm')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                </svg>
                                <span class="visually-hidden">Add</span>
                        </th>
                    </tr>
                </thead>
                <tbody id="dailiesBody">
                </tbody>
            </table>
        </div>
        <div id="DailiesForm" class="modal">
            <span onclick="document.getElementById('DailiesForm').style.display='none'" class="close" title="Close Modal">×</span>
            <div class="modal-content animate">
                <div class="container">
                    <label><b>Title</b></label>
                    <input type="text" placeholder="Enter Title" id="FormTitle" required>

                    <div class="container-fluid">
                        <label class="col-2"><b>Select Section</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormSection">
                        </select>
                    </div>

                    <h4 class="col-12 text-center my-3">How Many Times A day</h4>
                    <div class="container-fluid">
                    <label class="col-2"><b>Monday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormMonday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="container-fluid">
                        <label class="col-2"><b>Tuesday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormTuesday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="container-fluid">
                        <label class="col-2"><b>Wednesday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormWednesday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="container-fluid">
                        <label class="col-2"><b>Thursday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormThursday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="container-fluid">
                        <label class="col-2"><b>Friday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormFriday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="container-fluid">
                        <label class="col-2"><b>Saturday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormSaturday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="container-fluid">
                        <label class="col-2"><b>Sunday</b></label>
                        <select class="form-select form-select-lg mb-3 col-3" aria-label=".form-select-lg example" id="FormSunday">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('DailiesForm').style.display='none'" class="cancelbtn">Cancel</button>
                        <button class="signupbtn" onclick="AddTask()">Submit</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <hr class="featurette-divider border-dark">
            <h5>Add a new Section</h5>
                <div class="d-inline">
                    <label for="SectionName">Section Name</label>
                    <input type="text" name="SectionName" id="SectionName" placeholder="Enter New Section" />
                </div>
                <div class="d-inline">
                    <button class="btn btn-primary d-inline col-3" onclick="addNewSection()">Add New Section</button>
                    <button class="btn btn-danger d-inline col-3" onclick="RemoveSection()">Delete Section</button>
                </div>
        </div>
    </body>
<script>
    var modal = document.getElementById('DailiesForm');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</html>
